   __pycache__/
   *.py[cod]
   *$py.class
   *.so
   .venv
   env/
   venv/
   ENV/
   env.bak/
   venv.bak/
   .git
   .github
   .pytest_cache
   output/
   dist/
   build/
   *.egg-info/
   .installed.cfg
   *.egg
   web
   